.FormulaBar {
  display: flex;
  flex-flow: row nowrap;
  height: 24px;
  line-height: 24px;
  border-bottom: 1px solid #c0c0c0;
}

.FormulaBar .fx {
  display: block;
  width: 45px;
  font-size: 16px;
  text-align: center;
  font-style: italic;
  color: #c2c3c5;
  position: relative;
}

.FormulaBar .fx::after {
  display: block;
  content: '';
  position: absolute;
  right: 0;
  top: 4px;
  height: 16px;
  width: 1px;
  background-color: #c2c3c5;
}

.FormulaBar .cell-title {
  display: block;
  width: 60px;
  padding-right: 10px;
  text-align: right;
  position: relative;
}

.FormulaBar .input-wrap {
  position: relative;
  flex-grow: 2;
}

.FormulaBar .input-wrap .input {
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  height: 24px;
  padding: 0 10px;
  background-color: #dbeeff;
}

.FormulaBar .input-wrap .error {
  display: none;
  position: absolute;
  right: 10px;
  top: 0;
  color: #f44336;
}

.FormulaBar .input-wrap .input:hover,
.FormulaBar .input-wrap .input:focus {
  background-color: #c0e2ff;
}

.FormulaBar .btn {
  border: none;
  outline: none;
  margin-left: 5px;
  padding: 0 20px;
  line-height: 24px;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}

.FormulaBar .btn:hover {
  opacity: 0.9;
}

/* disabled */

.FormulaBar.disabled .cell-title {
  color: #c2c3c5;
}

.FormulaBar.disabled .input-wrap .input,
.FormulaBar.disabled .input-wrap .input:hover,
.FormulaBar.disabled .input-wrap .input:focus {
  cursor: disabled;
  background-color: #c2c3c5;
}

/* error */

.FormulaBar.error .input-wrap .error {
  display: block;
}

.FormulaBar.error .btn,
.FormulaBar.disabled .btn {
  background-color: #c2c3c5;
  cursor: disabled;
}
