.SheetTable {
  width: 100%;
  height: 100%;
}

.SheetTable .wrapper {
  position: relative;
  width: 100%;
  height: calc(100% - 25px);
  overflow: auto;
}

.SheetTable .top-header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.SheetTable .top-header .cell-group {
  float: left;
}

.SheetTable .left-header {
  float: left;
  position: sticky;
  left: 0;
  z-index: 10;
}

.SheetTable .body .cell-group {
  display: grid;
}

.SheetTable .cell {
  position: relative;
  cursor: default;
  width: 100px;
  height: 24px;
  line-height: 23px;
  padding: 0 5px;
  box-sizing: border-box;
  border-color: #e2e3e3;
  border-style: solid;
  border-width: 0 1px 1px 0;
}

.SheetTable .cell.choosed {
  border: 2px solid #2196f3;
  line-height: 20px;
  padding: 0 4px;
}

.SheetTable .cell.choosed-row,
.SheetTable .cell.choosed-col {
  background-color: rgba(14, 101, 235, 0.1);
}

.SheetTable .cell.edited {
  -webkit-box-shadow: 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  -moz-box-shadow: 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  box-shadow: 0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.SheetTable .cell.header {
  text-align: center;
  user-select: none;
  background-color: #f8f9fa;
  border-color: #c0c0c0;
}

.SheetTable .cell.header.choosed {
  border-color: #c0c0c0;
  border-style: solid;
  border-width: 0 1px 1px 0;
  background-color: #e8eaed;
}

.SheetTable .cell.header.top {
  float: left;
}

.SheetTable .cell.header.left {
  width: 45px;
}

.SheetTable .cell.header.top.left {
  float: left;
}

.SheetTable .cell.number {
  text-align: right;
}

.SheetTable .cell-editor {
  border: none;
  outline: none;
  padding: 0;
  width: 100%;
}
