.Menu {
  background-color: #404040;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  box-shadow: 0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.Menu ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.Menu ul li .item {
  display: block;
  cursor: pointer;
  padding: 0 20px;
  line-height: 32px;
}

.Menu ul li .item:hover {
  background-color: #5f5f5f;
}
