.App {
  width: 100%;
  height: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#c477d2', endColorstr='#76cbd6')"; /* IE 8-9 */
  background: linear-gradient(135deg, #c477d2 0%, #76cbd6 100%);
}

.App .title {
  color: #fff;
  text-align: center;
  margin: 0;
  height: 100px;
  line-height: 100px;
}

.App .content {
  margin: 0 40px;
  height: calc(100vh - 100px - 40px - 40px);
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.App .footer {
  text-align: center;
  height: 40px;
  margin: 20px 0;
}

.App .footer .link {
  color: #fff;
  line-height: 40px;
}
